.charsheet div.sheet-character-page {
    visibility: hidden;
    height: 0px;

    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows:    0px 0px 0px 0px 0px 0px 0px;
    grid-gap: 10px;
  

    grid-template-areas:"namelvl         feats  inventory"
                        "characteristics feats  inventory"
                        "characteristics scars  inventory"
                        "characteristics armor  inventory"
                        "savingthrows    armor  inventory"
                        "savingthrows    weapon inventory"
                        "hitpoints       weapon inventory";

    background: white;
}

.sheet-tabstoggle[value="character"] ~ div.sheet-character-page {
    grid-template-rows:    210px 30px 120px 30px 90px 60px 60px;
    height: auto;
    visibility: visible;
}


.charsheet .sheet-magick-page {
    visibility: hidden;
    height: 0px;

    display: grid;

    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 0px 0px 0px 0px 0px;
    grid-gap: 10px;
  
    background: white;

    
    grid-template-areas:"magick"
                        "magick-faith-points"
                        "allowed-spells"
                        "priest-power-spheres"
                        "allowed-spells-help";
}

.sheet-tabstoggle[value="magick"] ~ div.sheet-magick-page {
    grid-template-rows:    40px 60px 90px 260px 170px;
    height: auto;
    visibility: visible;
}

.charsheet p {
    margin: 0px;
    font-size: 12px;
}

.charsheet .sheet-pagetitle {
    text-decoration: underline;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    margin-bottom: 9px;
}

.charsheet .sheet-pageblocktitle {
    font-size: 16px;
    text-align: left;
    width: 270px;
}

.charsheet .sheet-pageblocktitle-halfwidth {
    font-size: 16px;
    text-align: left;
    width: 150px;
}

.charsheet .attribute-name {
    font-size: 12px;
}

.charsheet .sheet-char-name {
    width: 40%;
}

.charsheet .sheet-stat-row {
    line-height: 12px;
}

.charsheet .sheet-char-row {
    width: 230px;
}

.charsheet .sheet-stat-row input {
    padding: 0px;
}

.charsheet .sheet-no-outline:focus {
    outline: none;
}

.charsheet input.sheet-attrubutetextbox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: none;
    border-bottom: 1px solid black;
    width: 200px;
    font-size: 12px;
}

.charsheet input.sheet-attrubutetextbox-halfwidth {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: none;
    border-bottom: 1px solid black;
    width: 50px;
    font-size: 12px;
}

.charsheet input.sheet-featbox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    font-size: 13px;
    margin-left: 35px;
    width: 73%;
}

.charsheet input.sheet-scarbox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    font-size: 13px;
    margin-left: 35px;
    width: 73%;
}

.charsheet .sheet-chars-titles {
    font-style: italic;
    font-size: 10px;
}

.charsheet .sheet-chars-value-title {
    margin-left: 90px;
}

.charsheet .sheet-chars-mod-title {
    margin-left: 20px;
}

.charsheet .sheet-savings-titles {
    font-style: italic;
    font-size: 10px;
}

.charsheet .sheet-savings-base-title {
    margin-left: 70px;
}

.charsheet .sheet-savings-mod-title {
    margin-left: 5px;
}

.charsheet .sheet-savings-penalty-title {
    margin-left: 0px;
}

.charsheet .sheet-savings-outcome-title {
    margin-left: 15px;
}


.charsheet input.sheet-statbox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: none;
    border-bottom: 1px solid black;
    width: 60px;
    font-size: 12px;
    margin-right: 8px;
}

.charsheet input.sheet-statmodbox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: none;
    border-bottom: 1px solid black;
    width: 70px;
    font-size: 12px;
}

.charsheet input.sheet-savingbox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: none;
    border-bottom: 1px solid black;
    width: 45px;
    font-size: 12px;
    margin-right: 4px;
}

.charsheet input.sheet-savingoutcomebox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: 1px solid black;
    width: 40px;
    font-size: 12px;
    margin-right: 8px;
}

.charsheet input.sheet-maxhpbox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: 1px solid black;
    width: 30px;
    height: 15px;
    font-size: 12px;
    margin-right: 8px;
}

.charsheet input.sheet-currenthpbox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border-bottom: 1px solid black;
    width: 185px;
    font-size: 12px;
    margin-right: 8px;
}

.charsheet input.sheet-armorclassbox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: 1px solid black;
    width: 30px;
    height: 15px;
    font-size: 12px;
    margin-right: 8px;
}

.charsheet .sheet-armorclass-attr-name {
    margin-left: 50px;
}

.charsheet input.sheet-armortype-box {
    width: 95px;
}

.charsheet input.sheet-shield-box {
    width: 85px;
}

.charsheet .sheet-armordescription-name {
    margin-right: auto;
}

.charsheet .sheet-armordescription-box {
    resize: none;
    width: 95%;
    height: 35px;
    margin-bottom: 0px;
}

.charsheet .sheet-penalty-description {
    font-style: italic;
    font-size: 9px;
    margin-left: 7px;
}

.charsheet .sheet-penalty-description input {
    border-radius: 50%;
}

.charsheet .sheet-weapons-stats-titles {
    font-style: italic;
    font-size: 10px;
}

.charsheet .sheet-weapon-description-title {
    margin-left: 28px;
}

.charsheet .sheet-weapon-ammo-title {
    margin-left: 25px;
}

.charsheet .sheet-weapon-attack-bonus-title {
    margin-left: 10px;
}

.charsheet .sheet-weapon-damage-title {
    margin-left: 10px;
}

.charsheet .sheet-weaponstat-box {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border-bottom: 1px solid black;
    height: 15px;
    font-size: 12px;
}

.charsheet .sheet-weaponstat-description-box {
    width: 35%;
    margin-left: 0%;
}

.charsheet .sheet-weaponstat-ammo-box {
    width: 20%;
    margin-left: 2%;
}

.charsheet .sheet-weaponstat-attack-bonus-box {
    width: 20%;
    margin-left: 2%;
}

.charsheet .sheet-weaponstat-damage-box {
    width: 15%;
    margin-left: 2%;
}

.charsheet div.sheet-block {
    display: grid;
    justify-content: center;

    border: 1px solid black; /* remove before release */
}

.charsheet .sheet-attackbonusbox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: 1px solid black;
    width: 40px;
    height: 20px;
    font-size: 12px;
    margin-right: 8px;
}

.charsheet .sheet-inventory-weight-title {
    margin-left: 110px;
}

.charsheet .sheet-prepared-items-name-title {
    margin-right: 6px;
}

.charsheet .sheet-stacked-items-name-title {
    margin-right: 35px;
}

.charsheet .sheet-inventory-name {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: left;
    color: #000000;
    font-family: Helvetica;
    border-bottom: 1px solid black;
    width: 75%;
    height: 20px;
    font-size: 12px;
}

.charsheet .sheet-inventory-weight {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border-bottom: 1px solid black;
    width: 15%;
    height: 20px;
    font-size: 12px;

    margin-left: 5%;
}


.charsheet .sheet-magick-faith-points-block-title {
    font-size: 14px;
    font-weight: bold;

    margin-top: 4px;
}

.charsheet .sheet-magick-faith-points-max-title {
    font-size: 13px;
}

.charsheet .sheet-magicfaithpointsmaxbox {
    width: 35%;
    height: 25px;

    text-align: center;
}

.charsheet .sheet-magick-faith-points-current-title {
    font-size: 14px;
    font-weight: bold;
}

.charsheet .sheet-currentmagickfaithpointsbox {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border-bottom: 1px solid black;
    width: 185px;
    font-size: 12px;
    margin-right: 8px;

    height: 20px;
}

.charsheet .sheet-allowed-spell-checkbox {
    margin-left: 5px;
}

.charsheet .sheet-powershperes-help {
    font-style: italic;
    font-size: 10px;

    margin-top: 10px;
}

.charsheet .sheet-unallowed-powershperes-help {
    font-style: italic;
    font-size: 10px;

    margin-bottom: 0px;
    line-height: 13px;
}

.charsheet .sheet-priest-power-sphere-box {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    font-size: 13px;
    margin-left: 35px;
    width: 73%;
}


.charsheet div.sheet-row-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: right;
    align-content: right;
}

.charsheet div.sheet-row-section-blocked {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: right;
    align-content: right;
}

.charsheet .sheet-inventory-summary-weight {
    background: none;
    border-style: none;
    box-shadow: none;
    border-color: #000000;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    border-bottom: 1px solid black;
    height: 20px;
    font-size: 12px;

    margin-left: 2%;
    width: 15%;
}

.charsheet .sheet-inventory-prepared-summary-title {
    margin-right: 22px;
}

.charsheet .sheet-inventory-stacked-summary-title {
    margin-right: 50px;
}

.charsheet div.sheet-block .sheet-align-right {
    text-align: right;
}

.charsheet div.sheet-block .sheet-align-right-halfwidth {
    text-align: right;
    width: 50%;
}

.charsheet div.sheet-block .sheet-align-right-quarterwidth {
    text-align: right;
    width: 25%;
}

.charsheet .sheet-align-right-threequarterwidth {
    text-align: right;
    width: 75%;
}

.charsheet div.sheet-block .sheet-align-left-halfwidth {
    text-align: left;
    width: 50%;
}

.charsheet div.sheet-block .sheet-align-left-quarterwidth {
    text-align: left;
    width: 25%;
}

.charsheet div.sheet-namelvl {
    grid-area: namelvl;
}

.charsheet div.sheet-characteristics {
    grid-area: characteristics;
}

.charsheet div.sheet-savingthrows {
    grid-area: savingthrows;
}

.charsheet div.sheet-hitpoints {
    grid-area: hitpoints;
}

.charsheet div.sheet-feats {
    grid-area: feats;
}

.charsheet div.sheet-scars {
    grid-area: scars;
}

.charsheet div.sheet-armor {
    grid-area: armor;
}

.charsheet div.sheet-weapon {
    grid-area: weapon;
}

.charsheet div.sheet-inventory {
    grid-area: inventory;
}

.charsheet div.sheet-magick {
    grid-area: magick;
}

.charsheet div.sheet-magick-faith-points {
    grid-area: magick-faith-points;
}

.charsheet div.sheet-allowed-spells {
    grid-area: allowed-spells;
}

.charsheet div.sheet-priest-power-spheres {
    grid-area: priest-power-spheres;
}

.charsheet div.sheet-allowed-spells-help {
    grid-area: allowed-spells-help;
}
